@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

body,
html,
main {
    background: "linear-gradient(to right, rgba(80,80,80) 10%, rgba(90,90,90) 50%, rgba(60,60,60) 100%)";
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: justify; /* left-right align */
    background-color: rgba(20, 20, 20, 1);
    margin: 0;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    color: #fff;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin-right: 40px;
    gap: 20px;
    font-size: 1.875rem;
    font-weight: 500;
}

.menuElement {
    padding: 1rem;
}

.menuElement:hover {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    transition: all 0.8s;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    width: 100%;
    border: #e7e7e7;
    margin-bottom: 30px;
}

.socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}

title-text {
    text-transform: uppercase;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 20px 30px;
}

#github {
    background: url("assets/github.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background 0.2s;
}

#github:hover {
    background: url("assets/githubhover.png");
    background-size: cover;
    background-position: center;
    animation: 0.8s bounce;
    -webkit-animation: bounce 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounce 1s; /* Firefox < 16 */
    -ms-animation: bounce 1s; /* Internet Explorer */
    -o-animation: bounce 1s; /* Opera < 12.1 */
    animation: bounce 1s;
}

#instagram {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/instagram.png");
    transition: all 0.2s;
}

#instagram:hover {
    background: url("assets/instagramhover.png") no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-animation: bounce 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounce 1s; /* Firefox < 16 */
    -ms-animation: bounce 1s; /* Internet Explorer */
    -o-animation: bounce 1s; /* Opera < 12.1 */
    animation: bounce 1s;
}

#facebook {
    background: url("assets/facebook.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

#facebook:hover {
    background: url("assets/facebookhover.png") no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-animation: bounce 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounce 1s; /* Firefox < 16 */
    -ms-animation: bounce 1s; /* Internet Explorer */
    -o-animation: bounce 1s; /* Opera < 12.1 */
    animation: bounce 1s;
}

#utcn {
    background: url("assets/utcn.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}

#utcn:hover {
    transform: scale(2);
}

.homePageHeader {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    border-bottom: 1px #000;
    letter-spacing: 2px;
    transition: color 0.2s;
    margin-top: 0px;
    top: 0px;
    opacity: 0.97;
    padding-bottom: 25px;
    border-radius: 20px;
}

#typedText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    /* Textul scris random pentru test */
    color: rgba(155, 155, 155);
    /*  padding-top: 250px; */
    margin-left: 5%;
    margin-right: 5%;
}

.rectangle {
    transition: all 0.5s;
}

.rectangle:hover {
    font-size: larger;
}

.content {
    margin: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 30%;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.contentContainer {
    display: flex;
}

.title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.description {
    text-align: center;
    padding-top: 10px;
}

#contactText {
    font-size: smaller;
    color: rgb(155, 155, 155);
    margin-top: 80px;
}

#name {
    margin-top: 20px;
    background-color: rgb(50, 50, 50);
}

#subject {
    margin-top: 20px;
    background-color: rgb(50, 50, 50);
    width: 500px;
    margin-bottom: 20px;
}

#message {
    resize: none;
    width: 900px;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgb(50, 50, 50);
}

#sendButton {
    background-color: rgb(50, 50, 50);
    width: 100px;
    height: 50px;
}

@media only screen and (max-width: 870px) {
    .menuElement {
        display: none;
    }
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
    .content {
        width: 60%;
    }
    .homePageHeader {
        width: 80%;
    }
    .dropdown {
        display: block;
    }
}

.menu-btn {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
}

@media only screen and (min-width: 870px) {
    .menu-btn {
        display: none;
    }
}

@keyframes bounce {
    15% {
        transform: translateY(0.2em);
    }
    40% {
        transform: translateY(-0.1em);
    }
    60% {
        transform: translateY(0.05em);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes bounce {
    15% {
        transform: translateY(0.2em);
    }
    40% {
        transform: translateY(-0.1em);
    }
    60% {
        transform: translateY(0.05em);
    }
    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes bounce {
    15% {
        transform: translateY(0.2em);
    }
    40% {
        transform: translateY(-0.1em);
    }
    60% {
        transform: translateY(0.05em);
    }
    100% {
        transform: translateY(0px);
    }
}

@-o-keyframes bounce {
    15% {
        transform: translateY(0.2em);
    }
    40% {
        transform: translateY(-0.1em);
    }
    60% {
        transform: translateY(0.05em);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes fadein {
    15% {
        transform: translateY(0.2em);
    }
    40% {
        transform: translateY(-0.1em);
    }
    60% {
        transform: translateY(0.05em);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    display: grid;
    place-items: center;
    height: 40%;
    width: 30%;
    position: relative;
}

@media (max-width: 1000px) {
    main {
        display: none;
    }
}

#eyes,
#eyes img {
    position: absolute;
}

.eye1 {
    top: 16px;
    left: -48px;
}

.eye2 {
    top: 9px;
    left: -15px;
}

.eye3 {
    top: -60px;
    left: 30px;
}

.eye4 {
    top: -62px;
    left: 58px;
}

.copyright {
    position: absolute;
    bottom: 12px;
}
