.comingSoonPageContainer {
  color: white;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 80px;
}

.alignMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.alignLeft {
  padding-left: 40px;
}

.myDescription {
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin: 20px;
  font-weight: 300;
}

.hiIntro {
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.myImage {
  width: 200px;
  height: 266px;
  border-radius: 4px;
}

@media only screen and (min-width: 480px) {
  .myDescription {
    font-size: 48px;
    margin: 20px 80px 0 80px;
    line-height: 90px;
  }
  .hiIntro {
    font-size: 48px;
    margin: 20px 80px 0 80px;
    line-height: 90px;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
