#tabel-xo {
  border: 1px solid black; /*Tabelul va avea o bordura de 1px -> un pixel, solid -> linie continua, black -> neagra*/
  border-collapse: collapse; /*Bordurile celulelor tabelului, se vor contopi intr-una singura.*/
}

/* Stilizarea tuturor celulelor tabelului*/
#tabel-xo tr td {
  width: 160px; /*latimea*/
  height: 160px; /*inaltimea*/
  border: 1px solid rgb(56, 53, 53); /*Bordurile celulelor: grosime, tip linie -> continua, culoare in cod rgb*/
  font-family: Helvetica; /*Stilul textului din interiorul celulelor*/
  font-size: 30px; /*Marimea textului*/
  text-align: center; /*Alinierea textului in mijlocul celulelor*/
  transition: all 0.3s ease;
}

/* selectorul :hover va stiliza ceulele tabelului atunci cand trecem cu mouse-ul peste ceulele tabelului*/
#tabel-xo tr td:hover {
  background: rgb(236, 236, 236);
  cursor: pointer; /*Atunci cand trecem cu mouse-ul peste o celula a tabelului, tipul cursorului se va schimba*/
}

h1 {
  color: red;
  font-style: "Comic Sans MS", cursive, sans-serif;
}

.board {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
